<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Yooga</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/scss' media='screen' href='sales-list.component.scss'>
  <script src='main.js'></script>
</head>

<body>
  <h3 class="title-h3">Vendas pendentes <br>
    <br>
    </h3>
  <div>
    <table>
      <thead>
        <tr>
          <th>idi</th>
            <th>clienteId</th>
            <th>cstat</th>
            <th>motivo</th>
            <th>nfceId</th>
            <th>valor</th>
            <th>desconto</th>
            <th>acréscimo</th>
            <th>data / hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venda of vendas" >
          <td >{{venda.idi}}</td>
          <td >{{venda.clienteId}}</td>
          <td >{{venda.cstat}}</td>
          <td >{{venda.motivo}}</td>
          <td >{{venda.nfceId}}</td>
          <td >{{venda.valor| currencyBrl: true }}</td>
          <td >{{venda.desconto | currencyBrl: true}}</td>
          <td >{{venda.acrescimo | currencyBrl: true}}</td>
          <td >{{venda.dataInc | amDateFormat: "DD/MM/YYYY HH:mm:ss"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
