<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Yooga</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/scss' media='screen' href='sales-list.component.scss'>
  <script src='main.js'></script>
</head>

<body>
  <div>
    <table>
      <thead>
        <tr>
          <th>Invoice</th>
          <th>Company</th>
          <th>Due Date</th>
          <th>Da mamada</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Oi</td>
          <td>Oi</td>
          <td>Oi</td>
          <td>
            <p class="status status-unpaid">NÃO PAGOU</p>
          </td>
          <td class="amount">Oi</td>
        </tr>
        <tr>
          <td>Oi</td>
          <td>Oi</td>
          <td>Oi</td>
          <td>
            <p class="status status-unpaid">NÃO PAGOU</p>
          </td>
          <td class="amount">Oi</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
