<div class="container">
  <button class="nav-bar">
    <strong onclick="submit()">Vendas Pendentes</strong>
  </button>
   <button class="nav-bar">
    <strong >Robô Fiscal</strong>
  </button>
  <button class="nav-bar">
    <strong>Vendas Pendentes</strong>
  </button>
   <button class="nav-bar">
    <strong >Robô Fiscal</strong>
  </button>
  <button class="nav-bar">
    <strong>Vendas Pendentes</strong>
  </button>
   <button class="nav-bar">
    <strong >Robô Fiscal</strong>
  </button>
  <button class="nav-bar">
    <strong>Vendas Pendentes</strong>
  </button>
   <button class="nav-bar">
    <strong >Robô Fiscal</strong>
  </button>
</div>

