$clr-primary: #286de5;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #3b74dc;
$clr-gray100: #f9fbff;
$clr-gray300: #e1e5ee;
$clr-peding: #fff0c2;
$clr-unpaid: #ffcdd2;
$clr-gray500: #4f546c;

.nav-bar{
  width: 11.5rem;
  height: 3rem;
  border-radius: 10px;
  margin-left: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #5088ed;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -30px;
}

.nav-bar:hover{
  box-shadow:0 2px 5px $clr-gray300;
  color:  white;
  background-color: $clr-primary-dark;
}
