* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.imgCavaleiroInicialDiv{
  display:flex;
}

.imgCavaleiroInicialImg{
  margin: auto;
  width: 1000px;
  margin-top: 2rem;
}

.hidden {
  display: none;
}
