/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.info-snackbar {
    position: absolute;
    top: 125px;
    right: -13px;
    background: #5088ed;
    font-family: Mukta, sans-serif;
    font-weight: 600;
    color: white;
    width: 2rem;
    padding-top: 100rem;
}

.sucesso-snackbar {
  position: absolute;
  top: 125px;
  right: -13px;
  background: #18a203;
  font-family: Mukta, sans-serif;
  font-weight: 600;
  color: white;
  width: 2rem;
  padding-top: 100rem;
}.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  color: red;
  font-weight: 900;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: #b7141400;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}


